.night {
  $night-style: true;
  background-color: $gray-darker;

  .navbar {
    @if ($night-style) {
      background-color: $gray-darker;
    }
  }

  .navbar-class {
    @if ($night-style) {
      border-bottom-color: $gray-dark;

      .header-margin {
        .navbar-btn {
          border-color: $night-btn;
          span {
            color: $night-btn;
          }
        }

        button {
          &:hover {
            background-color: $gray;
          }
        }

        .navbar-form {
          .input-group {
            .form-control {
              border-color: $gray-dark;
              border-right-color: transparent;
            }
          }
          .btn-search {
            border-color: $gray-dark;
            border-left-color: transparent;
          }
        }
      }
    }
  }

  .sidebar {
    a {
      &:hover {
        @if ($night-style) {
          background-color: $night-btn;
        }
      }
    }
  }
}