.navbar-class {
  .header-margin {
    .dropdown-toggle {
      background-color: transparent;
      padding-top: 10px;
      padding-bottom: 10px;

      .img-circle {
        width: 2em;
      }

      &:hover {
        background-color: transparent;
      }
    }

    .open {
      a {
        position: relative;
        display: block;
        padding: 10px 15px;
      }
    }

    .dropdown-menu {
      min-width: 180px;

      .signin {
        padding: 5px 10px;
      }

      li {
        h6 {
          margin-top: 5px;
          margin-bottom: 0;
        }

        a {
          padding: 5px 10px;

          &:hover {
            background-image: none;
            background-color: $gray-lighter;
          }
        }
      }

      &:before, &:after {
        content: "";
        width: 0;
        height: 0;
        border: 0.5em solid transparent;
        border-top: 0;
        position: absolute;
        right: 1.2em;
        top: -0.5em;
      }

      &:before {
        border-bottom-color: $gray-light;
      }

      &:after {
        border-bottom-color: #fff;
      }
    }

    @media screen and (min-width: $small-screen) {
      .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
      }
    }
    .badge {
      position: absolute;
      background-color: #f05753;
      top: -2px;
      right: 5px;
      font-size: 10px;
      border: 1px solid inherit;
      padding: 3px 5px;
    }
  }
}