.navbar-class {
  border-bottom-color: $gray-lighter;
  margin: 0 5%;

  .header-margin {
    margin: 15px 0;

    span.fa {
      font-size: 17px;
    }

    button {
      border-color: $gray-lighter;
      background-color: inherit;
      color: $gray-light;

      &:active, &:focus {
        outline: none !important;
      }

      &:hover {
        background-color: $gray-lighter;
      }
    }

    .navbar-header {
      border-bottom-color: $gray-lighter;
    }

    .collapse-btn {
      font-size: 17px;
    }

    .navbar-form {
      box-shadow: none;

      .form-control {
        background-color: inherit !important;
        border-color: $gray-lighter;
        border-right-color: transparent;
        box-shadow: none;
      }

      .btn-search {
        border-left-color: transparent;
      }
    }

    .dropdown-toggle {
      background-color: transparent;
      padding-top: 10px;
      padding-bottom: 10px;

      .img-circle {
        width: 2em;
      }
    }

    .dropdown-menu {
      &:before, &:after {
        content: "";
        width: 0;
        height: 0;
        border: 0.5em solid transparent;
        border-top: 0;
        position: absolute;
        right: 1.2em;
        top: -0.5em;
      }

      &:before {
        border-bottom-color: $gray-light;
      }

      &:after {
        border-bottom-color: #fff;
      }
    }
  }

  @media screen and (min-width: $small-screen) {
    .vcenter {
      display: inline-block;
      vertical-align: middle;
      float: none;
    }
  }
}
