<!--Header Template-->
<header ng-controller="headerCtrl">
    <nav class="navbar navbar-class navbar-fixed-top navbar-header"> <!--navbar-default">-->
        <div class="container-fluid header-margin">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Brand</a>
                <button type="button" class="navbar-toggle collapsed collapse-btn"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="fa fa-bars"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
                <form class="navbar-form navbar-left" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-search" type="button">...</button>
                        </span>
                    </div><!-- /input-group -->
                </form>
                <button type="button" class="btn navbar-btn" ng-click="nightStyle = !nightStyle">
                    <span class="fa fa-moon-o"></span>
                </button>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown vcenter">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-bell-o"></span>
                            <span class="badge">14</span>
                        </a>
                        <ul class="dropdown-menu list-group">
                            <li><a href="#">
                                <span class="fa fa-envelope-o"></span>
                                Jane set message
                                <h6>3 hours ago</h6></a>
                            </li>
                            <li><a href="#">
                                <span class="fa fa-comment-o"></span>
                                Jane left comment
                                <h6>3 hours ago</h6></a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">See all notifications.</a></li>
                        </ul>
                    </li>
                    <li class="dropdown vcenter">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <img ng-src="{{mainImg}}" alt="..." class="img-circle">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Help</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>