body {
  padding: 0 3%;
  transition: all 0.7s ease 0s;
  position: relative;
  width: 100%;
  height: 100%;

  .view-container {
    top: 100px;
    position: relative;
  }

  .content {
    float: right;
    height: 3000px;
  }
}